*{margin:0;padding:0;}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: white;
}

#app {
  font-family: "Helvetica", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #454545;
}
