.bordered-box, .auth .auth-login, .auth-signup {
  border: 1px solid #E6E6E6;
  background-color: white;
  border-radius: 1px;
  margin: 0; }

.input-box, .auth .auth-login-form form input {
  width: 100%;
  height: 45px;
  background-color: #F9F9F9;
  border: 1px solid #E6E6E6;
  text-indent: 14px;
  font-size: 14px;
  margin-bottom: 10px; }

.button, .auth .auth-login-form form button, .auth .auth-login-facebook button {
  border: 1px solid #E6E6E6;
  background-color: #3B5998;
  font-size: 14px;
  border-radius: 1px;
  margin: 0;
  color: white;
  height: 40px;
  width: 100%; }

.clear-button {
  border: 1px solid #E6E6E6;
  background-color: white;
  font-size: 14px;
  width: 100%;
  border-radius: 1px;
  margin: 0;
  height: 40px;
  color: black;
  width: 100%; }

.auth {
  background-color: #F9F9F9;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; }
  .auth .auth-login {
    margin-top: 50px;
    padding: 40px;
    background-color: white;
    width: 250px; }
    .auth .auth-login-header h1 {
      margin-bottom: 10px;
      font-weight: 600; }
    .auth .auth-login-header h2 {
      margin-bottom: 20px;
      font-size: 26px;
      font-weight: 400; }
    .auth .auth-login-form form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0; }
      .auth .auth-login-form form button {
        background-color: #8A66FB; }
    .auth .auth-login-divider {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      margin: 20px 0; }
      .auth .auth-login-divider #left-divider {
        height: 1px;
        background-color: #DADADA;
        width: 100px; }
      .auth .auth-login-divider #divider-text {
        font-size: 12px;
        color: #DADADA; }
      .auth .auth-login-divider #right-divider {
        height: 1px;
        background-color: #DADADA;
        width: 100px; }
    .auth .auth-login-facebook button {
      width: 100%; }
  .auth-signup {
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: none;
    margin: 0;
    width: 250px;
    background-color: white;
    margin-top: 20px;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px; }
    .auth-signup span {
      font-size: 12px; }
      .auth-signup span a {
        font-weight: 600; }
      .auth-signup span a:hover {
        cursor: pointer; }
  .auth-footer-copyright {
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: none;
    margin: 0;
    margin-top: 20px; }
    .auth-footer-copyright span {
      margin: 0 auto;
      font-size: 10px; }
    .auth-footer-copyright .fade-enter-active, .auth-footer-copyright .fade-leave-active {
      transition: opacity 0.5s; }
    .auth-footer-copyright .fade-enter, .auth-footer-copyright .fade-leave-to {
      opacity: 0; }

/*# sourceMappingURL=form.css.map */
