@import './main.scss';
@import './components/box.scss';
@import './components/button';
@import './components/container';

$form-width: 250px;
$form-padding: 40px;

.auth {
  background-color: $color-background;
  height: 800px;
  @include flex-container(column, center, center);

  .auth-login {
    @extend .bordered-box;
    margin-top: 50px;
    padding: $form-padding;
    background-color: white;
    width: $form-width;

    &-header {

      h1 {
        margin-bottom: 10px;
        font-weight: $font-weight-bold;
      }

      h2 {
        margin-bottom: 20px;
        font-size: 26px;
        font-weight: $font-weight-medium;
      }

    }

    &-form {

      form {
        @include flex-container(column, center, center);

        input {
          @extend .input-box;
        }

        button {
          @extend .button;
          background-color: $color-facebook;
        }

      }

    }

    &-divider {
      @include flex-container(row, space-between, center);
      margin: 20px 0;

      #left-divider {
        height: 1px;
        background-color: $color-divider;
        width: 100px;
      }

      #divider-text {
        font-size: 12px;
        color: $color-divider;
      }

      #right-divider {
        height: 1px;
        background-color: $color-divider;
        width: 100px;
      }

    }

    &-facebook {

      button {
        @extend .button;
        width: 100%;
      }

    }

  }

  &-signup {
    @include flex-container(flex, center, none);
    @extend .bordered-box;
    width: $form-width;
    background-color: white;
    margin-top: 20px;
    padding: $form-padding;
    padding-top: 20px;
    padding-bottom: 20px;

    span {
      font-size: $font-size-small;

      a {
        font-weight: $font-weight-bold;
      }

      a:hover {
        cursor:pointer;
      }

    }

  }

  &-footer {

    &-copyright {
      @include flex-container(flex, center, none);
      margin-top: 20px;

      span {
        margin: 0 auto;
        font-size: $font-size-extra-small;
      }

      .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
      }
      .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0
      }

    }

  }


}
