// Color
$color-background: #F9F9F9;
$color-border-light: #E6E6E6;
$color-text-background: #F9F9F9;
$color-divider: #DADADA;
$color-button: #3B5998;
$color-facebook: #8A66FB;
$color-font-light: #646464;

// Font size desktop
$font-size-extra-large: 36px;
$font-size-large: 32px;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-extra-small: 10px;

// Font size mobile
$font-size-extra-large-m: 24px;
$font-size-large-m: 20px;
$font-size-medium-m: 16px;
$font-size-small-m: 14px;
$font-size-extra-small-m: 10px;

// Font weight
$font-weight-bold: 600;
$font-weight-medium: 400;
$font-weight-thin: 300;


// Form
$form-font-size: 14px;



