@mixin team-media {
  .team {

    &-header {
      margin-top: 150px;

      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 18px;

      }

    }

    &-member {
      @include flex-container(row, center, flex-start);
      padding: 100px;
      max-width: 900px;
      margin: 20px 40px 20px 40px;

      &-header {
        margin-right: 40px;

        &-profile {

          img {
            margin-top: 0;

          }

        }

        &-social {

          a {

            img {

            }

          }

        }

      }

      &-body {
        h3 {
          text-align: left;

        }

        h4 {
          text-align: left;
          margin-top: 0;
          font-size: 24px;

        }

        p {
          font-size: 15px;
          line-height: 32px;
          margin-top: 10px;


          br {

          }

        }

      }

    }

  }

}
