@import './main.scss';
@import './components/box.scss';
@import './components/container.scss';
@import './team-media.scss';

.team {
  padding-top: 100px;
  @include flex-container(column, center, center);
  padding-bottom: 100px;
  background-color: $color-background;

  &-header {
    @include flex-container(column, center, center);
    margin: 40px 0 60px 0;

    h1 {
      font-size: 18px;
    }

    h2 {
      font-size: 12px;
      margin-top: 5px;
      font-weight: $font-weight-medium;
    }

  }

  //  Team main
  &-member {
    @include flex-container(column, center, center);
    @extend .bordered-box;
    margin: 20px;
    border-radius: 5px;
    padding: 20px;

    &-header {

      &-profile {

        img {
          width: 180px;
          margin-top: 20px;
          border-radius: 50%;
        }

      }

      &-social {
        @include flex-container(row, center, center);
        margin-top: 10px;

        a {

          img {
            width: 25px;
            margin: 5px;
          }

        }

      }

    }

    &-body {
      h3 {
        margin-top: 5px;
        font-size: 32px;
        text-align: center;
      }

      h4 {
        font-weight: $font-weight-medium;
        margin-top: 10px;
        font-size: 18px;
        text-align: center;
      }

      p {
        font-size: 14px;
        line-height: 28px;
        margin-top: 20px;
      }

      br {
        line-height: 50px;
      }

    }

  }




  // Team Footer
  &-footer {
    @include flex-container(row, center, center);
    position:fixed;
    left:0px;
    bottom:0px;
    height:45px;
    width:100%;
    background: white;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.16), 0 1px 4px rgba(0,0,0,0.23);

    span {
      font-size: 12px;

      a {
        font-weight: $font-weight-bold;
        text-decoration: none;
        color: #454545;
      }

      a:hover {
        cursor: pointer;
      }

    }

  }

}

@media screen and (min-width: 800px) {
  @include team-media;
}
