@import './components/container';
@import './main';


.upload {
  position:fixed; top:0px; left:0px; bottom:0px; right:0px;
  //  background-color: ghostwhite;
  @include flex-container(row, center, center);
  padding-top: 50px;

  &-markdown {
    width: 50%;
    background-color: $color-background;
    height: 100%;

    &-container {
      @include flex-container(column, flex-start, center);
      padding: 40px;
      height: 100%;

      &-header {
        width: 100%;
        @include flex-container(row, space-between, center);

        #header {
          font-size: 28px;
          font-weight: $font-weight-bold;

        }

        #upload {
          font-size: 20px;
          font-weight: $font-weight-bold;
        }

      }

      &-body {
        background-color: white;
        border: 1px solid $color-border-light;
        background-color: white;
        margin: 5px 0 20px 0;
        width: 100%;
        height: 75%;

        textarea {
          width: 100%;
          height: 100%;
          padding: 20px;
          border: 0;
          font-size: 14px;
          line-height: 20px;
          box-sizing: border-box;
          resize: none;
        }

        textarea:focus {
          outline: none;
        }


      }

      &-footer {
        width: 100%;
        margin: 0;
        text-align: center;

        span {
          font-size: 12px;

          a {
            font-weight: $font-weight-bold;
            text-decoration: none;
            color: #454545;
          }
        }

      }

    }

  }

  &-preview {
    width: 50%;
    overflow-y: auto;
    background-color: white;
    padding: 50px 80px;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;

    &-container {

      h1 {
        font-size: 34px;
        margin-bottom: 3px;
      }

      h2 {
        color: #7B7B7B;
        font-size: 22px;
        font-weight: $font-weight-medium;
      }

      h3 {
        margin-top: 40px;
        font-size: 26px;
        margin-bottom: 5px;
      }

      h4 {
        font-size: 22px;
        margin-bottom: 4px;

      }

      p {
        line-height: 32px;
        margin-bottom: 20px;

        a {
          color: #454545;
          font-size: 14px;

        }

        code {
          background-color: #F8F8F8;
          font-family: Menlo,Monaco,Consolas;
          font-size: 12px;
          padding: 3px 7px;
        }

      }

      pre {
        padding: 20px;
        background-color: #F8F8F8;
        line-height: 22px;
        margin-bottom: 20px;
        font-size: 14px;
      }

      ol, ul {
        padding: 40px;

        li {
          margin-bottom: 10px;
        }

      }

      blockquote {
        border-left: 2px solid black;
        padding: 0 20px;

        p {
          font-size: 13px;
          line-height: 22px;
        }
      }

    }

  }

}
