@mixin profile-media {

  .profile {
    padding-bottom: 50px;

    &-container {
      @include flex-container(row, space-between, flex-start);
      width: 100%;
      max-width: 700px;
      padding: 20px 150px;
      margin-top: 40px;

      &-image {
        margin-right: 30px;


        img {
          margin-top: 5px;
        }

      }

      &-info {
        width: 500px;

        form {

          span {

          }

          input {
            width: 50%;
          }

        }

      }

    }

  }

}
